{% extends 'base.html' %}
{% load static %}

{% block title %}Wodkafisch - 404 Error{% endblock%}

{% block content %}

        <section  class="bg-dark wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 text-center">
                    </div>
                    <div class="col-md-8 text-center">
                        <h2 class="section-heading"> 404 Error</h2>
                        <h3 class="section-subheading text-muted"> 
                            Ooooops! Looks like nothing was found at this location.
                        </h3>
                        
                    </div>
                </div>
            </div>
        </section>

{% endblock%}

