{% extends 'base.html' %}
{% load static %}

{% block title %}Wodkafisch - Contact{% endblock%}

{% block content %}

        <section id="contact" class="bg-dark wrapper">
            <div class="container">
                <div style="color:#fff">
                    <div class="row">
                        <h1>Thank you for your inquiry!</h1>
                        <p>Your contact information and message was successfully submitted.</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock%}