{% extends 'base.html' %}
{% load static %}

{% block title %}Wodkafisch - Contact{% endblock%}

{% block content %}

        <section id="contact" class="bg-dark wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <h2 class="section-heading">Contact Us</h2>
                        <h3 class="section-subheading text-muted">If you have questions about the Wodkafisch or upcoming events or if you want to become a member, please contact us via the form below.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <form name="sendMessage" id="contactForm" method="post" action="">
                                {% csrf_token %}
                                {{form.as_p}}
                                <!--
                                <div class="form-group">
                                    
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required="" data-validation-required-message="Please enter your name." name="name" required>
                                    <p class="help-block text-danger"></p>
                                    </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address." name="email" required>
                                    <p class="help-block text-danger"></p>
                                </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required="" data-validation-required-message="Please enter your phone number.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                               
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required="" data-validation-required-message="Please enter a message." name="message" required></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>  -->
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-xl">Send Message</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% endblock%}