@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --backgroundColor: #000022ff;
  --cardColor: #20213cff;
  --cardHoverColor: #2a2a4e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  color: 'grey';
  flex: 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

tr {
  border-bottom-width: 1px;
  
}

tr:last-child {
 border-bottom-width: 0px;
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.custom-dropdown-toggle {
  padding: 8px;
  height: 41.33px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--cardColor);
  color: #fff;
}

.custom-dropdown-toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

.custom-dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--cardColor);
  border: 1px solid #ccc;
  /* border-top: none; */
  border-radius: 5px;
  margin-top: 3px;
  overflow: auto;
  z-index: 6;
}

.custom-dropdown-option {
  padding: 8px;
  cursor: pointer;
  height: 40px;
}

.custom-dropdown-option:hover {
  background-color: var(--cardHoverColor);
}