<!-- mydrfproject/templates/email/password_reset_email.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Email</title>
</head>
<body>
    <p>Hello,</p>
    <p>We've received a request to reset your password. Please paste the following code to the app form:</p>
    <p>
        {% for number, color in code %}
        <span style="background-color: {{ color }};"> {{number}}</span>
        {% endfor %}
    </p>
    <p>If you did not request this password reset, you can safely ignore this email.</p>
    <p>Best regards,</p>
    <p>Your Wodkafisch Team</p>
</body>

</html>