{% extends 'base.html' %}
{% load static %}

{% block title %}Wodkafisch - Sign up{% endblock%}

{% block content %}

        <section class="bg-dark wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 text-center">
                        <h2 class="section-heading">Your activation was successful!</h2>
                        <p class="boldtext"> Please wait for an admin to confirm your registration.</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock%}

