{% extends 'base.html' %}
{% load static %}

{% block title %}Wodkafisch - User Approval{% endblock%}

{% block content %}

        <section class="bg-dark wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 text-center">
                        <h2 class="section-heading">User Sign Up Approval</h2>
                        <p class="boldtext"> {{ user.first_name }} {{user.last_name}} was successfully added to the Wodkafisch Community!</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock%}
